<p>Bonjour {{ nom_prenom_admin }},</p>

<p>
    Une nouvelle proposition a été ajoutée par un utilisateur ({{ nom_prenom }}).
</p>

<ul>
    <li>
        <strong>Titre Fr</strong> : {{ titre_fr }}
    </li>
    <li>
        <strong>Titre Ar</strong> : {{ titre_ar }}
    </li>
    <li>
        <strong>Titre Dr</strong> : {{ titre_dr }}
    </li>
</ul>

Vous pouvez consulter la proposition complete en cliquant sur le lien suivant :  <a target="_blank" href="{{ url }}">Lien vers la proposition</a>
<br>
<p>
    SFIFA
</p>
