<!-- About Section -->
<section class="py-16 bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 items-center">
      <img src="{{ asset('build/images/home/about.jpg') }}" alt="About" class="w-full h-126 object-cover rounded-md">
      <div>
        <p class="text-primary-700 font-semibold mb-2">{{ 'aboutSection.tag'|trans }}</p>
        <h2 class="text-5xl font-semibold text-gray-900 mb-10">
            {{ 'aboutSection.title'|trans }}
        </h2>
        <p class="text-gray-600 mb-8 text-lg leading-relaxed">
          Measure what matters with Untitled's easy-to-use reports. You can
          filter, export, and drilldown on the data in a couple clicks.
          Measure what matters with Untitled's easy-to-use reports. You can
          filter, export, and drilldown on the data in a couple clicks.
          Measure what matters with Untitled's easy-to-use reports. You can
          filter, and drilldown on the data in a couple clicks.
        </p>
        <div class="space-y-4">
          <div class="flex items-start space-x-3">
            <img src="{{ asset('build/images/icons/verified.svg') }}" alt="Verified"  width="28" height="28">
            <p class="text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, s...
            </p>
          </div>
          <div class="flex items-start space-x-3">
            <img src="{{ asset('build/images/icons/verified.svg') }}" alt="Verified" width="28" height="28" >
            <p class="text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, s...
            </p>
          </div>
          <div class="flex items-start space-x-3">
            <img src="{{ asset('build/images/icons/verified.svg') }}" alt="Verified" width="28" height="28" >
            <p class="text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, s...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 