<!-- Blog Section -->
{% if articles is not empty %}
<section class="py-20 bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap  gap-6 justify-between items-center mb-16">
      <div>
        <p class="primary-700 font-semibold mb-2">{{ 'RecitVie.tag'|trans }}</p>
        <h2 class="text-4xl font-bold text-gray-900 mb-4">
            {{ 'RecitVie.title'|trans }}
        </h2>
        <p class="text-gray-600">
{#      plus court    #}
            {{ 'RecitVie.subTitle'|trans }}
        </p>
      </div>
      <a 
        href="{{ path('article_index') }}"
        class="bg-primary-600 text-white px-4 py-3 rounded-lg hover:bg-primary-700"
      >
          {{ 'RecitVie.button'|trans }}
      </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {% for article in articles %}
        {{ include('common/article_card.html.twig', {'article': article}) }}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}