<p>Bonjour, {{ nom_prenom_admin }}</p>

{% if isEdit %}
    <p>
        Des modifications ont été apportées sur un terme, par <strong>{{ nom_prenom }}</strong>. Merci de bien vouloir le vérifier et le publier.
    </p>

    <i>
        NB : En attendant le terme est remis en brouillon, le temps qu'un administrateur le valide et le publie à nouveau.
    </i>
{% else %}
    <p>
        Un nouveau terme a été ajouté par <strong>{{ nom_prenom }}</strong>. Merci de bien vouloir le vérifier et le publier.
    </p>
{% endif %}

<p>
    Terme {% if isEdit %}modifié{% else %}ajouté{% endif %} :
</p>

<ul>
    <li>
        <strong>Titre Fr</strong> : {{ titre_fr }}
    </li>
    <li>
        <strong>Titre Ar</strong> : {{ titre_ar }}
    </li>
    <li>
        <strong>Titre Dr</strong> : {{ titre_dr }}
    </li>
</ul>

<p>
    Vous pouvez consulter les termes en attente en cliquant sur le lien suivant : <a target="_blank" href="{{ url }}">Lien vers le glossaire</a>
</p>
<p>
    SFIFA
</p>
