{% extends 'admin.html.twig' %}

{% block title %}ملف العدد {% endblock %}

{% block content %}
    <h1>ملف العدد </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>SubTitle</th>
                  <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenu_numero in contenu_numeros %}
            <tr>
                <td>{{ contenu_numero.title }}</td>
                <td>{{ contenu_numero.subTitle }}</td>
                <td>{{ contenu_numero.statut }}</td>
                <td>
                    <a href="{{ path('app_contenu_numero_show', {'id': contenu_numero.id}) }}">show</a>
                    <a href="{{ path('app_contenu_numero_edit', {'id': contenu_numero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contenu_numero_new') }}">Create new</a>
{% endblock %}
