<!-- Archive Section -->
{% if contenuArchive is not empty %}
	<section id="archive" class="py-24 bg-white" dir="rtl">
		<div class="max-w-7xl mx-auto px-6">
			<h2 class="text-5xl font-bold text-center mb-4">
				<span class="pink-underline">أرشيف أوال فيمينا</span>
			</h2>
			<p class="text-center text-gray-600 text-xl mb-16">
				استكشف أعدادنا السابقة وتصفح مواضيعنا المتنوعة
			</p>

			<div
				class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				<!-- Issue Card -->

				{% for contenuArchive in contenuArchive %}
					<a href="{{ path('app_contenu_numero_list', {'id': contenuArchive.id}) }}">
						<div class="bg-white rounded-2xl border border-[#FFE4E6] shadow-custom-lg p-8 hover:shadow-xl transition relative">
							<div class="absolute top-4 left-4  bg-rose-500 text-white w-12 h-12 rounded-full flex items-center justify-center font-bold text-xl">
								{{ contenuArchive.createdAt | date('m') }}
							</div>
							<div class="text-center">
								<h3 class="text-rose-500 text-6xl font-bold mb-4">{{ contenuArchive.title }}</h3>
								<div class="flex justify-center items-center gap-4 text-gray-400 mb-6">
									<span>●</span>
									<span>{{ contenuArchive.createdAt | date('Y') }}</span>
									<span>●</span>
								</div>
								<hr class="border-rose-200 mb-6"/>
								<p class="text-gray-700 text-xl">{{ contenuArchive.title }}</p>
							</div>
						</div>
					</a>
				{% endfor %}

			</div>
		</div>
	</section>
{% endif %}
