{% extends 'admin.html.twig' %}
{% import 'macros/status_macros.html.twig' as status %}

{% block title %}Proposition index{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="flex-1 flex flex-col bg-gray-50">
        <!-- Header -->
        <header class="bg-white py-6 border-b border-gray-200">
            <div class="flex flex-wrap justify-between items-center gap-4">
                <div>
                    <h1 class="text-2xl font-semibold text-gray-900">
                        Termes proposés
                    </h1>
                    <p class="text-gray-600 mt-1">
                        Vous pouvez gérer les termes proposés ici, les soumettre pour approbation ou les rejeter.
                    </p>
                </div>
            </div>
        </header>

        <!-- Search Bar -->
        <div class="pt-2 pb-4 rounded-t-lg flex justify-end bg-white mb-[-8px] container-table-box-shadow">
            <div class="relative md:min-w-sm md:max-w-sm">
                <form method="GET" action="{{ path('app_admin_proposition_index') }}" class="flex ">
                    <div class="relative w-full">
                        <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
                        </svg>
                        <input type="text"
                               name="search"
                               value="{{ app.request.get('search') }}"
                               placeholder="Rechercher"
                               class="pl-10 pr-10 py-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-500 focus:border-teal-500"/>
                        {% if app.request.get('search') %}
                            <a href="{{ path('app_admin_proposition_index') }}" class="absolute hover:filter hover:brightness-125 right-3 top-1/2 transform -translate-y-1/2">
                                <img src="{{ asset('build/images/icons/x-close.svg') }}" alt="Effacer" class="w-5 h-5">
                            </a>
                        {% endif %}
                    </div>

                </form>
            </div>
        </div>

        <!-- Table -->
        <div class="pb-8">
            <div class="bg-white rounded-lg table-box-shadow overflow-hidden">
                {% if propositions|length > 0 %}
                    <!-- Responsive Table with Horizontal Scroll -->
                    <div class="overflow-x-auto">
                        <table class="w-full min-w-[800px]">
                            <thead class="bg-light-gray-300 border-b border-t border-light-gray-200 rounded-t-lg">
                            <tr>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 tracking-wider whitespace-nowrap">
                                    Image
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 tracking-wider whitespace-nowrap">
                                    Français
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 tracking-wider whitespace-nowrap">
                                    Arabe
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 tracking-wider whitespace-nowrap">
                                    Darija
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 tracking-wider whitespace-nowrap">
                                    Proposé le
                                </th>

                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 tracking-wider whitespace-nowrap">
                                    Proposé par
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 tracking-wider whitespace-nowrap">
                                    Statut
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-600 tracking-wider whitespace-nowrap">
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                            {% for proposition in propositions %}
                                {% set isWaiting = proposition.statut == 'waiting_approval' %}
                                <tr class="hover:bg-gray-50 transition duration-150 border-b border-light-gray-200">
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {% if proposition.image %}
                                            <img src="{{'/uploads/'~ proposition.image.name }}" class="rounded-full w-10 h-10 min-w-10 min-h-10 object-cover object-top" alt="image de la proposition">
                                        {% else %}
                                            <img src="{{ asset('build/images/proposition/default.svg') }}" alt="default image" class="w-10 h-10">
                                        {% endif %}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 max-w-[200px] truncate">
                                            {{ proposition.contents|first.titreFr ? proposition.contents|first.titreFr : 'Titre non défini' }}
                                        </div>
                                    </td>

                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 max-w-[200px] truncate">
                                            {{ proposition.contents|first.titreAr ? proposition.contents|first.titreAr : 'Titre non défini' }}
                                        </div>
                                    </td>

                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 max-w-[200px] truncate">
                                            {{ proposition.contents|first.titreDr ? proposition.contents|first.titreDr : 'Titre non défini' }}
                                        </div>
                                    </td>

                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                                        {{ proposition.createdAt ? proposition.createdAt|date('d/m/Y à H:i') : 'Non définie' }}
                                    </td>

                                    <td class="flex flex-col gap-1 px-6 py-4 whitespace-nowrap text-sm text-gray-900">

                                        <p>
                                            {% if proposition.createdBy %}
                                                {{ proposition.createdBy.nom }} {{ proposition.createdBy.prenom }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </p>

                                        {% if proposition.createdBy %}
                                            {% if proposition.createdBy.email %}
                                                <span class="text-gray-600 text-xs">{{ proposition.createdBy.email }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                       {{ status.get_status(proposition.statut) }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">

                                        <div class="flex  items-center space-x-4">
                                            <!-- View Button -->
                                            <a href="{{ path('app_admin_proposition_show', {'id': proposition.id}) }}"
                                               class="text-gray-400 hover:text-gray-600 transition duration-150"
                                               title="Voir">
                                                <img src="{{ asset('build/images/icons/eye.svg') }}" alt="Voir" class="w-5 h-5 min-w-4 min-h-4">
                                            </a>

                                            {% if isWaiting %}
                                            <!-- View Button -->
                                            <a href="{{ path('app_admin_proposition_edit', {'id': proposition.id}) }}"
                                               class="text-gray-400 hover:text-gray-600 transition duration-150"
                                               title="Modifier">
                                                <img src="{{ asset('build/images/icons/edit.svg') }}" alt="Voir" class="w-5 h-5 min-w-4 min-h-4">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- KnpPaginatorBundle Pagination -->
                    {% if propositions.pageCount > 1 %}
                        <div class="bg-white px-4 py-3 border-t border-gray-200 sm:px-6">
                            {{ knp_pagination_render(propositions, 'components/pagination.html.twig') }}
                        </div>
                    {% endif %}
                {% else %}
                    <!-- Empty State -->
                    <div class="text-center py-12">
                        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                        </svg>
                        <h3 class="mt-2 text-sm font-medium text-gray-900">
                            {% if app.request.get('search') %}
                                Aucun résultat trouvé
                            {% else %}
                                Aucune proposition
                            {% endif %}
                        </h3>
                        <p class="mt-1 text-sm text-gray-600">
                            {% if app.request.get('search') %}
                                Aucune proposition ne correspond à "{{ app.request.get('search') }}"
                            {% else %}
                                Vous n'avez pas encore des propositions à gérer.
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
